<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link href="tailwind.css" rel="stylesheet">
    <title>Json utility tool</title>
  </head>
  <body class="bg-gray-600">
    <div class="container p-2 w-full">
      <div>
        <select name="spaces">
          <option value="2">2</option>
          <option value="4">4</option>
        </select>
      </div>
      <div class="flex">
        <div class="w-3/6 flex flex-col min-h-full">
          <textarea class="min-h-full" placeholder="place your json here"></textarea>
        </div>
        <div class="w-3/6 flex flex-col min-h-full">
          <textarea class="min-h-full" placeholder="place your json here"></textarea>
        </div>
      </div>
      <button>format</button>
    </div>

    <!-- You can also require other files to run in this process -->
    <script src="./renderer.js"></script>
  </body>
</html>
